<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
</head>
<body>
<div class="main-wrapper">
    <header>    <!--页头    -->
        <nav>
            <div class="logo"><a href="#">
                TFflyme
            </a>
            </div>
            <ul>

                <li>
                    <a href="{% url 'blog:home_page' %}" class="active">主页 </a>
                </li>
            </ul>
        </nav>
        <div id="banner2">
            <div class="inner">

            </div>
        </div>
    </header>
<div class="content">
        <section class="dark-section" style="height: 500px">
            <div class="article-preview" style="height: 500px">
            <div class="img-section">
                <div class="phtt">
                    <img id="tff" src="{% static 'img/pic04.jpg' %}" alt="">
                </div>

            </div>
            <div class="text-section">
<br>
                <h2>{{aminf.usname}}</h2>
<br>
<h2>{{aminf.solotext}}</h2>
                </div>
            </div>
        </section>
    </div>

 <footer>        <!--页脚-->
        <ul class="share-group">
            <li>参禅</li>
            <li>诵经</li>
            <li>化缘</li>
            <li>天才</li>
        </ul>
        <div class="copy">
            &copy TFflyme - 2018  |  CNPU   Y18264
        </div>
    </footer>
</div>
</body>
</html><!--关于我的一个界面-->